<Card>
    <CardTitle>
        <p><b>Depatment Name: </b>@department.Department.Name</p>
    </CardTitle>
    <CardBody>
        <UserComponent user="@department.Department.Director" typeOfUser="Director"/>
        @if (department.Teams != null)
        {
            <h4>Teams</h4>
            @foreach (Team team in department.Teams)
            {
                <TeamComponent team="team" />
            }
        }
        else
        {
            <p>This department has no teams.</p>
        }
    </CardBody>
</Card>
@code {
    [Parameter]
    public DepartmentByIDResponse department { get; set; }
}
