<div>
    <p><b>Depatment Name: </b>@department.Department.Name</p>
    <h4>Director</h4>
    <UserComponent user="@department.Department.Director"/>
    @if (department.Teams != null)
    {
        @foreach (Team team in department.Teams)
        {
            <TeamComponent team="team" />
        }
        <hr class="hr" />
    }
    else
    {
        <p>This department has no teams.</p>
    }
    <hr class="hr"/>
</div>
@code {
    [Parameter]
    public DepartmentByIDResponse department { get; set; }
}
