<Card Class="my-2">
    <CardTitle>
        <p>Team</p>
    </CardTitle>
    <CardBody>
        <p><b>Team Name: </b>@team.Name</p>
        <p><b>Department Name: </b>@team.DepartmentName</p>
        <h4>Leader</h4>
        <UserComponent user="@team.Leader"/>
        <hr class="hr" />
        <h4>Members</h4>
        @if (team.Members != null)
        {
            @foreach (User member in team.Members)
            {
                <UserComponent user="member"/>
            }
        }
        else
        {
            <p>This team has no members.</p>
        }
    </CardBody>
</Card>

@code {
    [Parameter]
    public Team team { get; set; }
}
