<Card>
    <CardTitle>
        <p>Team</p>
    </CardTitle>
    <CardBody>
        <p><b>Team Name: </b>@team.Name</p>
        <p><b>Department Name: </b>@team.DepartmentName</p>
        <h2>Leader</h2>
        <UserComponent user="@team.Leader" typeOfUser="Leader"/>
        <h2>Members</h2>
        @if (team.Members != null)
        {
            @foreach (User member in team.Members)
            {
                <UserComponent user="member" typeOfUser="Member of Team"/>
            }
        }
        else
        {
            <p>This team has no members.</p>
        }
    </CardBody>
</Card>

@code {
    [Parameter]
    public Team team { get; set; }
}
