<Card>
    @if(typeOfUser.CompareTo("null") != 0)
    {
        <CardTitle>
            <p>@typeOfUser</p>
        </CardTitle>
    }
    <CardBody>
        <p><b>User: </b>@user.FirstName @user.LastName</p>
        <p><b>Email: </b>@user.Email</p>
    </CardBody>
</Card>

@code {
    [Parameter]
    public User user { get; set; }
    [Parameter]
    public string typeOfUser { get; set; } = string.Empty;
}
