<Card Class="my-2">
    <CardBody>
        <p><b>User: </b>@user.FirstName @user.LastName</p>
        <p><b>Email: </b>@user.Email</p>
    </CardBody>
</Card>

@code {
    [Parameter]
    public User user { get; set; }
}
