@page "/"
@inject NavigationManager navigationManager
@inject ILoginService loginService
@inject IMeetingsService meetingService

<PageTitle>Home</PageTitle>
<h3>Home</h3>

@if (!isLogged)
{
    <p>Loading...</p>
}
else
{
    <!-- all users receive summary of meetings of which they are creators or members -->
    <a href="/meetingForm">Create</a>
    if(meetingSummaries.Count > 0)
    {
        foreach(MeetingSummaryResponse response in meetingSummaries)
        {
            <MeetingSummaryComponent meetingSummary="@response" />
        }
    }
    else
    {
        <p>You don't have any meetings :(</p>
    }
}


@code
{
    bool isLogged = false;

    string[] roles;

    List<MeetingSummaryResponse> meetingSummaries;

    protected override async Task OnInitializedAsync()
    {
        isLogged = await loginService.IsLogged();
        if (!isLogged)
        {
            navigationManager.NavigateTo("/login");
        }
        else
        {
            var response = await loginService.GetRoles();
            roles = response.Split(",");

            meetingSummaries = await meetingService.GetMyMeetingSummaries();

            if(roles.Contains("admin"))
            {
                
            }
        }
    }
}
