@page "/"
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

@if (loginResponse == null)
{
    <p>Loading...</p>
    
}
else
{
    <h1>Hello, world!</h1>

    <p>Welcome to your new app.</p>

    @if (usersResponse == null)
    {
        <p>Loading users...</p>
        
    }
    else
    {
        @foreach (User u in usersResponse.Users)
        {
            <div>
                <p>email: @u.Email</p>
            </div>
        }
    }
}

@code
{
    [Inject] protected ToastService ToastService { get; set; }

    AllUsersResponse? usersResponse;

    LoginResponse? loginResponse;

    protected override async Task OnInitializedAsync()
    {
        loginResponse = await httpClient.GetFromJsonAsync<LoginResponse>("/api/login");

        if(loginResponse != null)
        {
            if (!loginResponse.Success)
            {
                navigationManager.NavigateTo("/login");
            }
            else
            {
                usersResponse = await httpClient.GetFromJsonAsync<AllUsersResponse>("/api/user");
                if (usersResponse != null)
                {
                    ToastService.Notify(new(ToastType.Success, $"Successfully retrieved data"));
                }
                
            }
        }
        
    }
   
}
