@page "/"
@inject NavigationManager navigationManager
@inject ILoginService loginService
@attribute [StreamRendering(true)]

<PageTitle>Home</PageTitle>
<h3>Home</h3>

@if (!isLogged)
{
    <p>Loading...</p>
}
else
{
    <h1>Hello, world!</h1>

    <p>Welcome to your new app.</p>
}


@code
{
    bool isLogged = false;

    protected override async Task OnInitializedAsync()
    {
        isLogged = await loginService.IsLogged();
        if (!isLogged)
        {
            navigationManager.NavigateTo("/login");
        }
    }
   
}
