@page "/login"
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<PageTitle>Login</PageTitle>

<h3>Login</h3>

<EditForm Model="loginModel" FormName="LoginForm" OnValidSubmit="OnValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="mb-2">
		<InputText id="email" @bind-Value="loginModel.Email" placeholder="Enter Email" type="email"></InputText>
	</div>
	<div class="mb-2">
		<InputText id="password" @bind-Value="loginModel.Password" placeholder="Enter Password" type="password"></InputText>
	</div>
	<button>SUBMIT</button>
</EditForm>


@code {

	[Inject] protected ToastService ToastService { get; set; }

	LoginRequest loginModel = new LoginRequest();

	private async Task OnValidSubmit()
	{
		var response = await httpClient.PostAsJsonAsync("/api/login", loginModel);

		var responseObject = await response.Content.ReadFromJsonAsync<LoginResponse>();

		if (responseObject != null)
		{
			Console.WriteLine(responseObject);

			if (responseObject.Success)
			{
				navigationManager.NavigateTo("/");
			}
			else
			{
				loginModel.Email = "";
				loginModel.Password = "";
				ToastService.Notify(new(ToastType.Danger, $"Wystąpił błąd z logowaniem, spróbuj ponownie później"));
			}
		}


	}
}
